#support-page {
    /* width: fit-content; */
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}



hr {
    width: 100%;
}


#support-title{

    color: #4e4e4e !important;
    font-family: 'Gentium Basic', serif !important;
    text-align: center;
    font-size: 32px;
    display: block;
    margin-top: 10px;
    margin-bottom: -12px !important;


}

.pushDown{
    margin-top: 60px
}

.details-box {
    display: block;
}

.provideDetails{
    font-family: 'Gentium Basic', serif;
}

.textBox{
    border-color: #4e4e4e;
    border-radius:5px;
}

form {
    /* padding-top: 5vh;
    padding-left: 25vw; */
    text-align:center;
}
#submit-button{
    transition:.5s;
    background-color: #0d5e9a;
    border-radius: 6px;
    border: none;
    width: 250px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 43px;
    font-size: 18px;
    font-family: 'Cabin', sans-serif;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 100;
    outline: none;
}

#submit-button:hover{
    background: rgb(0, 162, 255);
    outline: none;
} 

#submit-button:active
#submit-button:focus {
    outline: none !important;
    background: rgb(0, 162, 255);
  }
  
  .disabledSubmit{
    transition:.5s;
    background-color: #0d395a !important;
    color:#989797 !important;
}

textarea {
    /* resize: none;
    height: 30vh;
    width: 48vw; */
}

.lightGrey{
    font-size: 14px;
    color: #b2b6bb !important;
    font-family: 'Cabin', sans-serif;
}



textarea{
    height:145px;
}

mat-form-field {
    width: 250px;
  }


::ng-deep.mat-form-field-outline-thick {
    /*change color of underline when focused*/
    color: #4e4e4e !important;
}

form {
    color: #4e4e4e !important;
    font-family: 'Gentium Basic', serif;
}


