<div class="container">
    <h1 class="episodeHeader">
        {{episodeTitle}}
    </h1>

    <!-- <div id="player"></div> -->

    <div class="timeline">
        <div *ngFor="let contentKey of objectKeys(episodeContent); let i=index">
            <div *ngIf="i < timelineEpisodeCount">
                <div [ngClass]="isEven(contentKey) ?'containerr right':'containerr left'">
                    <div class="content">
                        <p class="episodeText">{{episodeContent[contentKey].contentType}}</p>
                        <!-- <div class='block'>
                        <hr [ngClass]="isEven(contentKey) ?' lineRight':'lineLeft'" />
                    </div> -->
                        <img class="responsive-tl-icon"
                            [ngClass]="isEven(contentKey) ?' episodeIconImg-left':'episodeIconImg-right'"
                            onclick="document.getElementById('id01').style.display='block'"
                            (click)="setVideoId(episodeContent[contentKey].videoId, contentKey)"
                            src='/assets/img/snacks/{{episodeContent[contentKey].iconUrl}}'>
                    </div>
                </div>
            </div>
        </div>


        <div id="id01" class="w3-modal episodeVidModal">
            <div class="w3-animate-left episodeDiv">
                <span onclick="document.getElementById('id01').style.display='none'"
                    class="w3-button w3-display-topright">&times;</span>
                <h2>Modal Header</h2>
            </div>
        </div>
    </div>