<h1 class="episodeHeader">
    {{episodeTitle}}
</h1>

<div class="first-container">
</div>

<div class="timeline">
    <div *ngFor="let contentKey of objectKeys(episodeContent); let i=index">
        <div *ngIf="i < timelineEpisodeCount">
            <div [ngClass]="isEven(contentKey) ?'container right':'container left'">
                <div class="content">
                    <p class="episodeText">{{episodeContent[contentKey].contentType}}</p>
                    <!-- <div class='block'>
                        <hr [ngClass]="isEven(contentKey) ?' lineRight':'lineLeft'" />
                    </div> -->
                    <img [ngClass]="isEven(contentKey) ?' episodeIconImg-left':'episodeIconImg-right'" src="https://via.placeholder.com/100">
                </div>
            </div>
        </div>
    </div>