form {
    color: #4e4e4e !important;
    font-family: 'Gentium Basic', serif;
}

.confirmationCodeText {
    text-align: center;
    color:#b2b6bb;
    font-size: 14px;
    font-family: 'Cabin', sans-serif;
}

.forgotHeader2 {
    font-family: 'Gentium Basic', serif !important;
    font-size: 20px;
    text-align: center;
}

.codeBox {
    text-align: center;
}

.confirmForm {
    padding-top: 60px;
}

#confirmRegistration {
    transition: .5s;
    background-color: #0d5e9a;
    border-radius: 6px;
    border: none;
    width: 300px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 43px;
    font-size: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 100;
    outline: none;
}

#confirmRegistration:hover {
    background: rgb(0, 162, 255);
    outline: none;
}

.pushDown{
    margin-top:20px;
}


#confirmRegistration:active #confirmRegistration:focus {
    outline: none !important;
    background: rgb(0, 162, 255);
}

.disabledConfirm {
    transition: .5s;
    background-color: #0d395a !important;
    color: #989797 !important;
}

a {
    color: #332f2f !important;
    font-weight: 100;
    font-size: 16px;
    font-family: 'Gentium Basic', serif;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group>* {
    width: 100%;
}