footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    /* width: 100vw; */
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    clip-path: polygon(0 0, 0 87%, 7% 93%, 17% 94%, 21% 99%, 30% 96%, 37% 100%, 45% 100%, 51% 96%, 60% 100%, 69% 98%, 77% 95%, 85% 96%, 100% 89%, 100% 0);
}

nav {
    display: inline;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: grey;
}

i {
    width: 33.33vw;
}

/* Desktop */

@media screen and (min-width: 901px) {
    i {
        font-size: 4vw;
    }
}

/* Tablet */

@media screen and (min-width: 400px) and (max-width: 900px) {
    i {
        font-size: 6vw;
    }
}

/* Mobile */

@media only screen and (max-width: 399px) {
    i {
        font-size: 10vw;
    }
}