footer {
    background-image: url("../../../assets/img/firebones-nav.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    width: 100vw;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 9vh;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 10px;
    z-index: 1001;
}

nav {
    display: inline;
}

.white{
    /* color:white; */
    color:#767d82;;
}

.tan{
    color:white;
    /* color:#767d82;; */
}

a {
    color: rgb(179, 153, 153);
    text-decoration: none;
}

a:hover {
    color: white;
}

i {
    width: 33.33vw;
}

/* Desktop */

@media screen and (min-width: 901px) {
    i {
        font-size: 3vw;
    }

    footer{
        height: 120px;
        padding-top:41px;
    }
}

/* Tablet */

@media screen and (min-width: 591px) and (max-width: 900px) {
    i {
        font-size: 4vw;
    }
}

/* Mobile */
@media screen and (min-width: 400px) and (max-width: 590px) {
    i {
        font-size: 5vw;
    }
}
@media only screen and (max-width: 399px) {
    i {
        font-size: 7vw;
    }
}