<div class="eipsodes-page">
    <div class="episode-tile">

    </div>
</div>


<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="container eipsodes-page">
    <div class="row episode-tile">
        <div class="col-xs-6" *ngFor="let key of objectKeys(episodesObj)">
            <img src="https://via.placeholder.com/100" [routerLink]="['/securehome/episode-page',key]">
            <p>Episode {{key}}:</p>
            <p>{{episodesObj[key].episodeTitle}}</p>
            
        </div>
    </div>
</div>