.modalButton{
    background-color: #0d5e9a;
    color: white;
}

.mat-dialog-title{
    text-align: center;
}

.mat-dialog-content{
    text-align: center;
}

.mat-dialog-actions{
    padding-top: 14px;
    text-align: center;
    display: block;
}