
form {
    font-family: 'Gentium Basic', serif;
    /* font-style: italic; */
    color: #4e4e4e;
}

p{
    text-align: center;
}

.form-signin input[type="text"] {

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 100%;
}

.form-signin input[type="password"] {

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 100%;
}

.form-signin input[type="email"] {

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 100% !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #332f2f !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #332f2f!important;
} 

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #332f2f !important;
}

/* ::ng-deep.w3-animate-opacity {
    animation: opac 1s !important;
} */

.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    /*change color of underline when focused*/
    caret-color: #332f2f!important;
}



.form-group {
    font-family: 'Gentium Basic', serif;
    display: flex;
    flex-direction: column;
  }

.form-group > * {
width: 100%;
}

#register-button{
    transition:.5s;
    background-color: #0d5e9a;
    border-radius: 6px;
    border: none;
    width: 300px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 43px;
    font-size: 18px;
    padding-top: 3px;
    font-family: 'Cabin', sans-serif;
    padding-bottom: 3px;
    font-weight: 100;
    outline: none;
}


#register-button:hover{
    background: rgb(0, 162, 255);
    outline: none;
} 

#register-button:active
#register-button:focus {
    outline: none !important;
    background: rgb(0, 162, 255);
  }
  
  .disabledRegister{
    transition:.5s;
    background-color: #0d395a !important;
    color:#989797 !important;
}

.mat-icon{
    font-size: 18px !important;
}


a{
    color:#332f2f !important;
    font-weight: 100;
    font-size: 16px;
    font-family: 'Gentium Basic', serif;
}

