<?xml version='1.0' encoding='utf-8'?>
<widget id="com.firebones.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Fire Bones</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <access origin="https://*.youtube-nocookie.com" />
    <access origin="https://*.youtube.com" />
    <access origin="https://*.ytimg.com" />
    <access origin="https://*.gstatic.com" />
    <access origin="https://*.googlevideo.com" />
    <access origin="https://*.google.com" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="https://www.youtube.com/" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="local"/>
        <preference name="Fullscreen" value="true"/>
        <preference name="Orientation" value="portrait"/>
        <preference name="AllowInlineMediaPlayback" value="true" />
        <preference name="MediaPlaybackRequiresUserAction" value="false" />   
        <preference name="KeyboardAppearanceDark" value="true" />
        <allow-navigation href="*youtube*" />
        <allow-navigation href="*ytimg*" />
        <allow-navigation href="*youtube-nocookie*" />
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/ios/Icon-App-60x60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/Icon-App-60x60.png" width="60" height="60" />
        <icon src="res/ios/Icon-App-60x60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/ios/Icon-App-76x76@1x.png" width="76" height="76" />
        <icon src="res/ios/Icon-App-76x76@2x.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="res/ios/Icon-App-40x40@1x.png" width="40" height="40" />
        <icon src="res/ios/Icon-App-40x40@2x.png" width="80" height="80" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="res/ios/Icon-App-57x57@1x.png" width="57" height="57" />
        <icon src="res/ios/Icon-App-114x114@1x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/ios/Icon-App-72x72@1x.png" width="72" height="72" />
        <icon src="res/ios/Icon-App-144x144@1x.png" width="144" height="144" />
        <!-- iPad Pro -->
        <icon src="res/ios/Icon-App-167x167@1x.png" width="167" height="167" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/ios/Icon-App-29x29@1x.png" width="29" height="29" />
        <icon src="res/ios/Icon-App-29x29@2x.png" width="58" height="58" />
        <icon src="res/ios/Icon-App-29x29@3x.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="res/ios/Icon-App-50x50@1x.png" width="50" height="50" />
        <icon src="res/ios/Icon-App-100x100@1x.png" width="100" height="100" />
        <!-- iPad Pro -->
        <icon src="res/ios/Icon-App-83.5x83.5@2x.png" width="167" height="167" />
        <!-- <splash src="res/screen/ios/Default@2x~universal~anyany.png" /> -->
    </platform>
</widget>
