
#profile-info {
    color: #4e4e4e;
    padding-top: 18px;
}

.account-field {
    margin-bottom: 10px;
    color: #4e4e4e !important;
    font-family: 'Gentium Basic', serif;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    height: 50px;
}

i {
    margin-left: 10px;
}

#profile-page {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}


a {
    text-decoration: none;
    color: #4e4e4e;
}


label{
    margin-left: 5px;
}

.edit-field{
    width: 150px;
}

.phone-number {
    width: 350px;
}


/* Error Box */
#error-box{
    margin-left: auto;
    margin-right: auto;
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-style: italic; */
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    text-align: center;
    width: 250px;
}