<div id="profile-page">


    <h2 class="text-center" id="account-setting-title"><i class="fas fa-chevron-left"></i>Account Settings</h2>
    <hr>
    <div *ngFor="let parameter of parameters.slice().reverse()" id="profile-info">
        <div class="text-center account-field" *ngIf="parameter.name == 'email'">
            <p>Account: <i>{{ parameter.value }}</i></p>
        </div>
        <div class="text-center account-field" *ngIf="parameter.name == 'phone_number'">
            <p>Phone Number: <i>{{ parameter.value }}</i></p>
        </div>
        <div class="text-center account-field" *ngIf="parameter.name == 'phone_number'">
            <p>Notifications: <i>SLIDE ME YO</i></p>
        </div>
        <div class="text-center account-field" *ngIf="parameter.name == 'phone_number'">
            <p>Change Password</p>
        </div>
        <div class="text-center account-field" *ngIf="parameter.name == 'phone_number'">
            <p>Learn More</p>
        </div>
        <div class="text-center account-field" *ngIf="parameter.name == 'phone_number'">
            <p>Support</p>
        </div>
    </div>

</div>