<div id="profile-page" class="container">


    <span class="text-center" id="account-setting-title">Account</span>
    <hr>
    <div id="profile-info">

        <div class="text-center account-field">
            <p><i class="paddingRight fas fa-envelope"></i>Email: {{ email }}</p>
        </div>
        <div class="text-center account-field phone-number">

            <p><i class="paddingRight fas fa-phone-alt"></i>Phone Number:
                <a *ngIf="!editMode" [(ngModel)]="phoneInput" ngDefaultControl>{{ phoneNumber }}</a>
                <input [(ngModel)]="phoneInput" ngDefaultControl class="edit-field" *ngIf="editMode"
                    value="{{ phoneNumber }}" maxlength="10" type="tel" size="10" width="10">
                <a class="button-color" (click)="editMode=true;phoneInput=''" *ngIf="!editMode"
                    style="padding-left: 10px;">Edit</a>
                <button class="text-button button-color disabled" [disabled]="!phoneInput" [class.disabled]="!phoneInput" (click)="updatePhoneNumber()" *ngIf="editMode">ok</button>
                <button class="text-button" style='color:red;' (click)="editMode=false" *ngIf="editMode">cancel</button>
            </p>
        </div>
        <div class="text-center account-field">
            <p><i class="paddingRight fas fa-bell"></i>Notifications
                <!-- Rounded switch -->
                <label class="switch">
                    <input type="checkbox" (click)="updateNotifications()" [(ngModel)]="notifications">
                    <span class="slider round"></span>
                </label>
            </p>
        </div>
        <div class="text-center account-field">
            <p><i class="paddingRight fas fa-lock"></i>
                <a [routerLink]="['/securehome/changepassword']">Change Password</a></p>
        </div>
        <div class="text-center account-field">
            <p><i class="paddingRight fas fa-info-circle"></i>
                <a target="_blank" href="https://firebones.org">Learn More</a></p>
        </div>
        <div class="text-center account-field">
            <p><i class="paddingRight fas fa-life-ring"></i>
                <a [routerLink]="['/securehome/support']">Support</a></p>
        </div>
    </div>
    <div class="logoutButton">
        <a class="button-color" [routerLink]="['/securehome/logout']">Log out</a>
    </div>
</div>