#account-setting-title {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: #6F6F6F;
}

#account-setting-title i {
    margin-right: 30px;
}

#profile-info {
    margin-left: auto;
    margin-right: auto;
    color: #6F6F6F;
}

.account-field {
    margin-bottom: 10px;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 20px;
    display: block;
    text-align: left;
}

i {
    margin-left: 10px;
}

#profile-page{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}