
#profile-info {
    color: #4e4e4e;
}

.account-field {
    margin-bottom: 10px;
    color: #4e4e4e !important;
    font-family: 'Gentium Basic', serif;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    height: 50px;
}

#account-setting-title{
    color: #4e4e4e !important;
    font-family: 'Eczar', serif;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    display: block;
    
    margin-bottom: -12px !important;

}

/* i {
    margin-left: 10px;
} */

#profile-page {
    /* width: fit-content; */
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}

.paddingRight{
    padding-right: 8px
}


a {
    text-decoration: none;
    color: #4e4e4e;
}

.logoutButton{
    position: fixed;
    margin-top: 34px;
    left: 39%;
    bottom: 12%;
    font-size: 25px;
    font-family: 'Gentium Basic', serif;
}


label{
    margin-left: 5px;
}

.edit-field{
    width: 150px;
    margin-left: 6px;
}

.phone-number {
    width: 350px;
}


/* Error Box */
#error-box{
    margin-left: auto;
    margin-right: auto;
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-style: italic; */
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    text-align: center;
    width: 250px;
}