<div id="profile-page">


    <h2 class="text-center" id="account-setting-title"><i class="fas fa-chevron-left"></i>Account Settings</h2>
    <hr>
    <div *ngFor="let parameter of parameters.slice().reverse()" id="profile-info">
        <div class="text-center account-field" *ngIf="parameter.name == 'email'">
            <p>Account: <i>{{ parameter.value }}</i></p>
        </div>
        <div class="text-center account-field" *ngIf="parameter.name == 'phone_number'">
            <p>Phone Number: <i>{{ parameter.value }}</i> <i class="fas fa-pencil-alt"></i></p>
        </div>
        <div class="text-center account-field" *ngIf="parameter.name == 'phone_number'">
            <p>Notifications
                <!-- Rounded switch -->
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </p>
        </div>
        <div class="text-center account-field" *ngIf="parameter.name == 'phone_number'">
            <p>Change Password</p>
        </div>
        <div class="text-center account-field" *ngIf="parameter.name == 'phone_number'">
            <p>Learn More</p>
        </div>
        <div class="text-center account-field" *ngIf="parameter.name == 'phone_number'">
            <p>Support</p>
        </div>
    </div>




</div>

<div id="logout-button-container">
    <div id="logout-button">
        <a [routerLink]="['/securehome/logout']">Log out</a>
    </div>
</div>