<form class="loginForm form-signin" method="POST" action="#" role="form">
    <!-- <div *ngIf="errorMessage!=null">
        {{Login fail}}
    </div> -->
    <div *ngIf="!mfaStep">
        <div class="form-group">
            <mat-form-field hideRequiredMarker>
                <mat-placeholder style="color: #4e4e4e !important; font-family: 'Gentium Basic', serif;font-size: 18px;">Email</mat-placeholder>
                <input matInput id="signupEmail" required type="email" maxlength="100" style="color: #4e4e4e !important; font-family: 'Gentium Basic', serif;"
                    [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field hideRequiredMarker>
                <mat-placeholder style="color: #4e4e4e !important; font-family: 'Gentium Basic', serif; font-size: 18px;">Password</mat-placeholder>
                <input matInput id="signupPassword" [type]="hide ? 'password' : 'text'" required maxlength="25" style="color: #4e4e4e !important; font-family: 'Gentium Basic', serif;"
                    length="40" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                <button mat-icon-button matSuffix (click)="hide = !hide"> 
                    <mat-icon style="height: 1.4em;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div class="form-group">
            <button [disabled]="!email || !password" (click)="onLogin()" [class.disabledLogin]="!email || !password" id="signupSubmit"
                type="submit" id="login-button">
                Log in
            </button>
        </div>
        <div class="pushDown">
            <a [routerLink]="['/home/register']">Register</a>
            <a [routerLink]="['/home/forgotPassword']" class="forgotPasswordText">Forgot Password?</a><br />
        </div>
        <!-- <a [routerLink]="['/home/resendCode']">Resend Confirmation</a> -->
    </div>

    <div class="form-group" *ngIf="mfaStep">
        <awscognito-mfa [destination]="mfaData.destination" [onSubmit]="mfaData.callback"></awscognito-mfa>
        <a (click)="cancelMFA()" href="">Cancel</a>
    </div>
</form>