@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400i');

form {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: black;
}

#login-button{
    background-color: black;
    border-radius: 15px;
    border: none;
    width: 300px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 100;
}

a{
    color:black;
    font-weight: 100;
    font-size: 19px;
}


.form-group {
    display: flex;
    flex-direction: column;
  }

.form-group > * {
width: 100%;
}
