@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400i');


form {
    font-family: 'Cormorant Garamond', serif;
    /* font-style: italic; */
    color: #4e4e4e;
}

.form-signin input[type="text"] {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="email"] {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #4e4e4e !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #4e4e4e!important;
} 

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #4e4e4e !important;
}

/* ::ng-deep.w3-animate-opacity {
    animation: opac 1s !important;
} */

.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    /*change color of underline when focused*/
    caret-color: #4e4e4e!important;
}

.mat-icon{
    font-size: 18px !important;
}


#login-button{
    transition:.5s;
    background-color: #0d5e9a;
    border-radius: 6px;
    border: none;
    width: 300px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 100;
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#login-button:hover{
    background-color: #115f9a;
}

a{
    color:black;
    font-weight: 100;
    font-size: 19px;
}


.form-group {
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    flex-direction: column;
  }

.form-group > * {
width: 100%;
}

.disabledLogin{
    transition:.5s;
    background-color: #0d395a !important;
    color:#989797 !important;
}

