/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    width: 100%;
    height: 100%-90px;
    /* background-image: url("https://s3-us-west-1.amazonaws.com/firebones-lz/paperPattern.png"); */
    background-color: white;
    background-size: cover;
    margin-top: 60px;
}


/* Material Styles */


/* mat-form-field:not(.mat-form-field-should-float) .mat-input-placeholder {
  padding: 12px;
  font-size: 17px;
  box-sizing: border-box;
} */

.mat-focused .placeholder {
    color: #00D318;
}

.disableScrolling{
    /* margin: 0;
 height: 100%;  */
    overflow: hidden;
    height: 0;
    margin-top: 0px;
}

@media screen and (min-width: 773px){
    body{
        margin-top: 90px;
    }
}