/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body,html {
    width: 100%;
    /* background-image: url("https://s3-us-west-1.amazonaws.com/firebones-lz/paperPattern.png"); */
    background-color: white;
    background-size: cover;
}

main{
    margin-top: 120px;
}

.mat-focused .placeholder {
    color: #00D318;
}

.disableScrolling{
    overflow: hidden;
    height: 10px;
}

.disableScrollingLogin{
    overflow: hidden;
}

