<!-- <div id="player"></div> -->

<div class="row text-center">
  <div class="col-lg-6 col-md-6 col-sm-6">hiiiiiiiiii</div>
  <div class="col-lg-6 col-md-6 col-sm-6">byeeeeeeeeee</div>
</div>

<div class="row text-center">
  <div class="col-lg-6 col-md-6 col-sm-6">hiiiiiiiiii</div>
  <div class="col-lg-6 col-md-6 col-sm-6">byeeeeeeeeee</div>
</div>

<div class="row text-center">
  <div class="col-lg-6 col-md-6 col-sm-6">hiiiiiiiiii</div>
  <div class="col-lg-6 col-md-6 col-sm-6">byeeeeeeeeee</div>
</div>

<div class="row text-center">
  <div class="col-lg-6 col-md-6 col-sm-6">hiiiiiiiiii</div>
  <div class="col-lg-6 col-md-6 col-sm-6">byeeeeeeeeee</div>
</div>