@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400i');
#container-logo {
    text-align: center;
    padding-top: 50px;
}

#logo {
    margin: 0 auto;
    color: black;
    display: inline-block;
    font-size: 32px;
    font-weight: 100;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
}

#brand {
    width: 100px;
    max-width: 300px;
}

a {
    color: black;
    text-decoration: none;
}

#fire{
    vertical-align: -10px;
}

#bones{
    vertical-align: -10px;
}

@media screen and (max-width: 600px) {
    #logo {
        font-size: 40px;
    }
}