@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400i');
* {
  box-sizing: border-box;
}

#logo {
  overflow: hidden;
  z-index: 99;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
}

#navbar {
  overflow: hidden;
  background-color: #f1f1f100;
  transition: 0.4s;
  position: fixed;
  width: 100vw;
  z-index: 1001;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 90% 89%, 59% 100%, 35% 91%, 15% 96%, 0 88%); 
}

#navbar a {
  /* text-align: center; */
  font-size: 72px;
  display: inline-block;
  /* display: block; */
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
}

.bringTextCloserRight {
  margin-right: -75px;
  transition: all .5s ease;
  letter-spacing: 10px;
  -ms-transform: skewX(-10deg) rotate(-10deg);
  /* IE 9 */
  -webkit-transform: skewX(-10deg) rotate(-10deg);
  /* Safari */
  transform: skewX(-10deg) rotate(-10deg);
  /* Standard syntax */
}

.bringTextCloserLeft {
  margin-left: -60px;
  letter-spacing: 8px;
  transition: all .5s ease;
  -ms-transform: skewY(-5deg) rotate(10deg);
  /* IE 9 */
  -webkit-transform: skewY(-5deg) rotate(10deg);
  /* Safari */
  transform: scale(1.2) skewY(-5deg) rotate(10deg);
  /* Standard syntax */
}

/* Desktop */

@media screen and (min-width: 901px) {
  #logo{
    width: 230px;
    margin-top: 8px; 
  }

  #navbar a {
    font-size: 58px;
  }

  .bringTextCloserRight {
    /* Use this to position vertically due to inline block */
    vertical-align: 10px;
    /*  */
  }
  .bringTextCloserLeft {
    /* Use this to position vertically due to inline block */
    vertical-align: 10px;
    /*  */
  }
}

/* Tablet */

@media screen and (min-width: 400px) and (max-width: 900px) {
  #logo {
    width: 165px;
  }
  #navbar {
    width: 100vw;
  }
  #navbar a {
    font-size: 38px;
  }
  .bringTextCloserRight {
    margin-right: -50px;
    /* Use this to position vertically due to inline block */
    vertical-align: -1px;
    margin-left: 25px;
    /*  */
  }
  .bringTextCloserLeft {
    margin-left: -37px;
    /* Use this to position vertically due to inline block */
    vertical-align: -1px;
    /*  */
  }
}

/* Mobile */

@media only screen and (max-width: 399px) {
  #navbar a {
    font-size: 28px;
  }
  #logo {
    width: 120px;
  }
  #navbar {
    width: 100vw;
  }
  .bringTextCloserRight {
    margin-right: -37px;
    /* Use this to position vertically due to inline block */
    vertical-align: -1px;
    /*  */
  }
  .bringTextCloserLeft {
    margin-left: -22px;
    /* Use this to position vertically due to inline block */
    vertical-align: -1px;
    /*  */
  }
}