
form {
    color: #4e4e4e !important;
    font-family: 'Gentium Basic', serif;
}

.forgot-button{
    transition:.5s;
    background-color: #0d5e9a;
    border-radius: 6px;
    border: none;
    width: 300px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 43px;
    font-size: 18px;
    font-family: 'Cabin', sans-serif;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 100;
    outline: none;
}


#forgot-button:hover{
    background: rgb(0, 162, 255);
    outline: none;
} 

#forgot-button:active
#forgot-button:focus {
    outline: none !important;
    background: rgb(0, 162, 255);
  }
  
  .disabledForgotButton{
    transition:.5s;
    background-color: #0d395a !important;
    color:#989797 !important;
}

.enterEmailCenter{
    text-align: center;
    display: block;
}

.forgotForm{
    padding-top:60px;
}

.forgotHeader{
    font-family: 'Gentium Basic', serif !important;
    font-size: 24px;
    text-align: center;
}

.forgotHeader2{
    font-family: 'Gentium Basic', serif !important;
    font-size: 20px;
    text-align: center;
}


a{
    color:#332f2f !important;
    font-weight: 100;
    font-size: 18px;
    font-family: 'Gentium Basic', serif;
}


.form-group {
    display: flex;
    flex-direction: column;
  }

.form-group > * {
width: 100%;
}
